description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        {# <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}"> #}
        <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {# {% partial 'site/footer' %} #}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery-3.4.1.slim.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
